body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.top-banner {
    display: flex;
    width: 100%;
    height: 650px;
    background-image: url(images/donate-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.top-content {
    text-align: center;
}

.top-title {
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin: 0;
}

.top-description {
    font-size: 20px;
    font-weight: 10;
    color: white;
    padding: 10px 0;
    margin-bottom: 50px;

}

.donate-button {
    padding: 10px 40px;
    background-color: #ff5350;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.donate-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-content {
    text-align: center;
    padding: 55px 0 10px 0;
}

.donate-title {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.donate-description {
    font-size: 20px;
    font-weight: 300;
    color: #44364e;
    padding: 10px 0;
}