body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.top-banner {
    display: flex;
    width: 100%;
    height: 650px;
    background-image: url(images/donate-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.top-content {
    text-align: center;
}

.top-title {
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin: 0;
}

.top-description {
    font-size: 20px;
    font-weight: 10;
    color: white;
    padding: 10px 0;
    margin-bottom: 50px;

}

.donate-button {
    padding: 10px 30px;
    background-color: #ff5350;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.donate-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-content {
    text-align: center;
    padding: 55px 0 10px 0;
}

.donate-title {
    font-size: 36px;
    font-weight: 700;
    color: #099ee4;
    margin: 0;
}

.donate-description {
    font-size: 20px;
    color: #18111d;
    padding: 10px 0;
}

.donate-amount-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-amount {
    width: 80px;
    height: auto;
    background-color: #b4daeb;
    text-align: center;
    padding: 25px 10px;
    border: 5px;
    border-color: #b4daeb;
    border-radius: 5px;
    margin: 0 5px;
}

.donate-amount-active {
    width: 80px;
    height: auto;
    background-color: #099ee4;
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    margin: 0 5px;
}

.donate-amount:hover {
    background-color: #099ee4;
}

.donate-amount-title {
    font-size: 25px;
    font-weight: 600;
    color: #000000cc;
    margin: 0;
}

.donate-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.donate-area {
    text-align: center;
}

.donate-input-area {
    width: 350px;
    text-align: center;
    border: none;
    padding: 10px;
}

.donate-plan-area {
    text-align: center;
    padding: 55px 0 10px 0;
}

.donate-plan-title {
    font-size: 36px;
    font-weight: 600;
    color: #099ee4;
    margin: 0;
}

.donate-plan-description {
    font-size: 20px;
    font-weight: 300;
    color: #18111d;
    padding: 10px 0;
}

.donate-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.donate-card {
    text-align: left;
    width: auto;
    height: auto;
    background-color: #dae5ea;
    margin-left: 10px;
    padding: 20px;
}

.shelter {
    background-color: #e1cdc7;
}

.education {
    background-color: #eae9c8;
}